@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('./Fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('./Fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('./Fonts/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('./Fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('./Fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('./Fonts/Comfortaa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('./Fonts/Comfortaa-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaLight';
    src: url('./Fonts/Comfortaa-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaSemiBold';
    src: url('./Fonts/Comfortaa-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaMedium';
    src: url('./Fonts/Comfortaa-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GlassAntiqua';
    src: url('./Fonts/Glass-Antiqua.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGroteskLight';
    src: url('./Fonts/SpaceGrotesk-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGroteskRegular';
    src: url('./Fonts/SpaceGrotesk-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGroteskMedium';
    src: url('./Fonts/SpaceGrotesk-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'SpaceGroteskBold';
    src: url('./Fonts/SpaceGrotesk-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KarantinaRegular';
    src: url('./Fonts/Karantina-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KarantinaBold';
    src: url('./Fonts/Karantina-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KarantinaLight';
    src: url('./Fonts/Karantina-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ava';
    src: url('./Fonts/AVA.ttf');
    font-weight: normal;
    font-style: normal;
}